.contact-section {
  padding: 8rem 2rem;
  color: white;
}
.contact-container {
  margin: 0 auto;
  padding: 0;
  max-width: 52rem;
}
.contact-content {
  color: #c7c9cc;
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  padding: 0;
  text-align: center;
}

.contact-content__email {
  margin-top: 2rem;
  justify-content: center;
  text-align: center;
}

@media (min-width: $tablet-portrait) {
  .contact-container {
    max-width: 46rem;
  }
  .contact-content {
    text-align: center;
  }
}

@media (min-width: $desktop-breakpoint) {
  .contact-section {
    padding: 14rem 8rem;
    color: white;
  }

  .contact-container {
    margin: 0 auto;
    padding: 0;
    max-width: 120rem;
  }

  .contact-content {
    color: #c7c9cc;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    padding: 0;
    text-align: center;
    padding: 4rem 20rem;
  }

  .contact-content__email {
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
  }
}
