.header {
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100vh;
  padding-top: 18rem;
}

.header__content {
  color: $off-white;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.header__title {
  color: white;
  font-size: $font-size-large;
  margin: 0 0 $m-size 0;
  line-height: 1;
  font-family: "Montserrat";
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;

  h1,
  p {
    background-image: url(https://media.giphy.com/media/n3xSURtNE62t2/giphy.gif);
    background-size: cover;
    background-position: center center;
    color: transparent;
    font-family: "Montserrat", sans-serif;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 6rem;
    line-height: 1;
    margin: 10px 0;
  }
}
