.navbar {
  background: $transparentColor;
  height: 5rem;
  position: fixed;
  top: $l-size;
  right: $l-size;
  left: $l-size;
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin: 0 1.5rem 0 1.5rem;
}
.nav-links {
  display: flex;
  align-items: center;
  color: $off-white;
}
.nav-links a {
  color: $off-white;
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: $m-size;
  transition: $mainTransition;
}
.nav-links a:hover {
  color: $primaryColor;
}
.logo {
  width: 12rem;
}
