.section-portfolio {
  padding: 3rem;
}

.content-container {
  margin: 0 auto;
  padding: 0;
  max-width: 126rem;
}

@media (min-width: $desktop-breakpoint) {
  .section-portfolio {
    padding: 12rem;
  }
  .content-container {
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 126rem;
  }
}
