.projects-content {
  color: #c7c9cc;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: center;
  padding: 3rem 26rem 5rem 26rem;
  text-align: center;
  p {
    margin: 0 auto;
    padding: 2rem;
    max-width: 81rem;
  }
  div {
    margin-top: 2rem;
  }
}

.projects__button {
  display: flex;
  justify-content: center;
}
